.body {
    background-color: #452545;
    color: ghostwhite;
}
.header {
    padding: 30px 0;
    background-color: #452545;
    color: ghostwhite;
}
.header {
    font-size: 20px;
    line-height: 1.5;
    padding-bottom: 60px;
}
.header span {
    display: block;
}
.form {
    border: 2px solid crimson;
    padding: 35px 20px;
}
.form_header {
    margin-bottom: 10px;
}
.form input {
    margin-bottom: 10px;
    border: 1px solid #000;
}
.header span{
    font-size: 20px;
}
h1, h2 {
    font-size: 24px;
    font-weight: 900;
}
.btn_div {
    margin: 20px 0;
}
.form_btn {
    color: ghostwhite;
    background-color: crimson;
    padding: 15px 0;
}

.middle  {
    margin: 90px 0;
}
.feature {
    margin-top: 40px;
}
.feature p{
    margin-top: 20px;    
}


.bottom {
    padding: 60px 0;
    background-color: #bea5cff8;
}
.bottom_header {
    padding-bottom: 20px;
}
.img_bottom {
    margin: 20px 0;
}